<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stoutner.privacybrowser" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/privacy_browser"
        android:theme="@style/AppTheme" >

        <!-- android:configChanges="orientation|screenSize" makes the app not reload when the orientation changes. -->
        <!-- android:windowSoftInputMode="stateAlwaysHidden" hides the keyboard when the app starts. -->
        <activity
            android:name=".Webview"
            android:configChanges="orientation|screenSize"
            android:label="@string/privacy_browser"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- android.intent.action.VIEW with the two schemes enables processing of web intents. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>
    </application>

</manifest>
